p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

 .container {
    width: auto;
    margin: auto;
    border: 2px dashed black;
    border-radius: 5%;
    text-align: left;
    }